body {
	background: url(../img/background.png);
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	font-size:18px;
}

h1 {
	font-weight: 900;	
	font-size:40px;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: .1em;
	border-bottom: 1.5px solid #fff;
}

.top {
	margin-top: 3.25em;
	text-align: right;
	border-bottom: 1.5px solid #fff;
}

.email {
	text-align: right;
	text-decoration: blink;	
}

.noTop {
	margin-top: 0px;
	  
}

h2 {
	font-weight: 700;
	font-size:24px;	
}

p {
	font-size:20px;	
	font-style:italic;
}

ul {
	list-style-type: none;
	list-style-image: url(../img/bolt2.png)	
}

.music {
	width: 300;
	height: 90;
	loop: false;
	autostart: false;
}

.right {
	float: right;
}


a {
font-weight: bold;
color: #FFF;
}

a:link {
color: #FFF;
}
a:visited {
color: #989FAF;
}
a:hover {
color: #989FAF;
font-size:24px;
}
a:active {
color: #989FAF;
}



Read more: How to Style a Link with CSS | eHow.com http://www.ehow.com/how_2080242_style-link-css.html#ixzz2QDrCD8R9