body {
	background: url(../img/background.png);
	font-family: 'Josefin Sans', 'Yanone Kaffeesatz', sans-serif;
	color: #FFF;
	font-size:18px;
	max-width: 960px;
}


.topSocial{
font-size: 44px;
margin-top: -4.75%;
float: right;
display: block;
}


.rightNav{
	float: right;
	display: block;
	color: #3d3d3d;	
	font-weight: 700;
	width: 30%;
}

.rightNav li{
		background: url(../img/sub.png);
	width: 100%;
	padding: 12% 0;
	display: block;
	list-style: none;
	font-size: 1.125em;
	text-align: left;
	border: 1px solid #3d3d3d;
}

.rightNav li:last-child{
	padding-bottom: 75%;
}



.rightNav li a{
	color: inherit;
	text-decoration: none;
	width: 5%;
	margin-left: 5%;
}

#linkText{
	background: url(../img/logo.png) no-repeat;	
	display: block;
	width: 960px;
	height: 124px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

#linkTextFb{
	background: url(../img/facebook.png) no-repeat;
	display: block;
	width: 25%;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	float: right; 
}



#linkTextT{
	background: url(../img/twitter.png) no-repeat;	
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

section {
background: url(../img/sub.png);
color: #3d3d3d;
width: 100%;	
font-weight: 700;
display: block;
clear: right;
margin-top: 5%;
}

section li{
	width: 13%;
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 1% 0;
	font-size: 1.125em;
}




section li a{
	color: inherit;
	text-decoration: none;
	width: 40%;

}


	

h2 {
	font-weight: 700;
	font-size:24px;	

}

p {
	font-size:20px;	

}

.featured{
		background: url(../img/sub.png);
		padding: .05% 1.5%;
		width: 70%;
			margin-top: 3.8%;
			color: #3d3d3d;
			height: 248px;
			/*max-height: 248px;*/
}

.featured h2{
	
	}

.sub {
	
}

.sub h2 {
	
}

a{
	font-size: 1.125em;	
}

.contactH{
	color: #7f312d !important;
}




Read more: How to Style a Link with CSS | eHow.com http://www.ehow.com/how_2080242_style-link-css.html#ixzz2QDrCD8R9
